.number-done {
  margin-right: 1rem;
}
.number-active {
  margin-left: 1rem;
}
.count {
    margin-left: 1rem;
}
.header {
    margin-bottom: 5px;
}
.btn-filter {
  margin-bottom: 0.3rem;
}
.info {
  margin-top: 0.3rem;
}